.background {
    background-color: #859FFA;
    width: 100%;
    height: 55vh;
    position: absolute;
    top: -0%;
}

.logo {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
}

.wrapper {
    user-select: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -300%);
    width: 50%;
    animation-name: transition;
    animation-duration: 2s;
    animation-iteration-count:infinite;
}

.text {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -140%);
    font-size: 30px;
    width: 300px;
    padding-top: 27px;
    height: 100px;
    text-align: center;
    color: white;
}

.am {
    position: relative;
    top: 100%;
    background-color: #0B0F1F;
    width: 100%;
    height: 45vh;
}

.amt {
    position: absolute;
    top: 6vh;
    color: white;
    text-align: center;
    width: 100%;
    font-size: 6vw;
}

@media screen and (min-width: 1600px) {
    .amt {
        top: 20%;
        font-size: 75px;
    }
}

.amp {
    position: absolute;
    top: 1vh;
    color: rgba(255, 255, 255, 0.50);
    font-weight: light;
    text-align: center;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 3.25vw;
}


@media screen and (min-width: 1600px) {
    .amp {
        top: 50%;
        font-size: 20px;
    }
}
.amimg {
    position: absolute;
    left: 65%;
    top: 30%;
    user-select: none;
}



@keyframes transition {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

.wrapper:hover {
    animation-play-state: paused;
}

.text::selection {
    color: #859FFA;
    background: #ffffff;
}

.amp::selection {
    color: #0B0F1F;
    background: #ffffff;
}

.amt::selection {
    color: #0B0F1F;
    background: #ffffff;
}

.br {
    user-select: none;
}

.test {
    color: rgba(255, 255, 255, 0.752);
    transition: 0.6s
}

.test::selection {
    color: #0B0F1F;
    background: #ffffff;
}

.test:hover {
    color: #bccaff;
}

.ampw {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 25%;
    height:50%;
}